@use "../../theme/theme" as *;

$roomWidth: 30%;
$maxHeight: 100%;

.roomsAside {
  display: flex;
  flex-direction: column;
  float: left;
  width: $roomWidth;
  height: $maxHeight;
  border: 0.1rem solid $gray;
  border-radius: 0 0.5rem 0.5rem 0;

  .header {
    background-color: $blue-white;
    padding: 0.75rem;
    // Apply only on the top left and top right corners - to match the container border radius
    border-radius: 0 0.5rem 0 0;
    text-align: center;
    border-bottom: 0.1rem solid $gray;

    h2 {
      font-size: 1.5em;
    }
  }

  .list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-inline: 0.2rem;
    overflow-y: auto;

    .item {
      border: 0.2rem solid $gray;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;

      .textContent {
        max-width: 30ch; // Set the maximum width of the text content
        white-space: nowrap; // Prevent text from breaking into multiple lines
        overflow: hidden; // Hide overflow
        text-overflow: ellipsis; // Add ellipsis for overflow
      }

      &:hover {
        background-color: $blue-white;
      }

      &.active {
        background-color: darken($blue-white, 5);
      }
    }
  }
}

.chat {
  height: $maxHeight;
  width: calc(100% - #{$roomWidth});
  display: flex;
  justify-content: center;
  align-items: center;
}
