@use "./theme" as *;

@include css-reset;

@font-face {
  font-family: "Noto Sans Hebrew";
  src: url("/fonts/NotoSansHebrew/NotoSansHebrew-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*[data-hidden="all"] {
  display: none !important;
}

@media (max-width: $bp-mobile) {
  *[data-hidden="mobile"] {
    display: none !important;
  }
}

@media (min-width: $bp-mobile) {
  *[data-hidden="desktop"] {
    display: none !important;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

figure {
  margin: 0;
}

a:hover {
  cursor: pointer;
}
