@use "../../theme/theme" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $blue-lighter;
  border: 0.1rem solid $gray;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: inset 0 0.75rem 0.5rem -0.25rem rgba(0, 0, 0, 0.1);
}

.header {
  background-color: $blue-white;
  padding: 0.75rem;
  // Apply only on the top left and top right corners - to match the container border radius
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
  border-bottom: 0.1rem solid $gray;

  h1 {
    font-size: 1.5em;
  }
}

form.send {
  display: flex;
  flex-grow: 0; // This will not grow
  flex-shrink: 0; // This will not shrink
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-top: 0.1rem solid $gray;
  gap: 1rem;

  input {
    width: 100%;
    padding: 0.75rem;
    border: 0.1rem solid $gray;
    border-radius: 0.25rem;
    resize: none;
    outline: none;
  }

  button {
    display: flex;
    gap: 0.5rem;
    min-width: 11ch;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background-color: $blue-white;
    color: $blue-darker;
    border: darken($gray, 5) solid 0.1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($color: $blue-white, $amount: 5);
    }
  }
}
