@use "../../theme/theme" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  & > h1 {
    cursor: pointer;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    color: $blue-dark;
  }
}
